* {
    border: solid red 1px;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    background-color: aqua;
    display: grid;

    /*
    column-gap: 10px;
    row-gap: 20px;
    */

    gap: 2px 1px;

    justify-items: stretch; /*start end center stretch*/
    align-items: stretch; /*start end center stretch*/

    justify-content: stretch;
    align-content: stretch;

    grid-template-columns: 350px 1fr 200px;
    grid-template-rows: 200px 80px 1fr 200px;

    grid-template-areas: 
    "header header header"
    "menu menu menu"
    "sub-menu content content"
    "footer footer logo";
}

.page header {
    background-color: white;
    grid-area: header;
}

.page nav.main-menu {
    background-color: white;
    grid-area: menu;
}

.page nav.sub-menu {
    background-color: white;
    grid-area: sub-menu;
}

.page main {
    background-color: white;
    grid-area: content;

    display: grid;

    grid-template-columns: 400px 1fr 300px;
    grid-template-rows: 250px 1fr 200px;

    grid-template-areas: 
    "szoveg1 szoveg1 kep1"
    "szoveg2 szoveg2 szoveg2"
    "kep2 szoveg3 szoveg3";
}

.page footer {
    background-color: white;
    grid-area: footer;
}

.page aside {
    background-color: white;
    grid-area: logo;
}